script.
  let rawOrder = "#{order}"
  window.order = JSON.parse(rawOrder.replace(/&quot;/g, '"'))

.confirm-message-container

.flex-wrap.info-flex-wrap
  .customer-info-widget
    h2.widget-title Customer Information
    .inputs-wrap
      .input-flex-wrap
        .input-wrap
          label First Name
          input.first-name-inpt(type="text")
        .input-wrap
          label Last Name
          input.last-name-inpt(type="text")
      .input-wrap
        label Email
        input.email-inpt(type="text")
      .input-wrap
        label Phone Number
        input.phone-number-inpt(type="text")
      .input-wrap
        label Address Line 1
        input.address-1-inpt(type="text")
      .input-wrap
        label Address Line 2
        input.address-2-inpt(type="text")
      .input-flex-wrap.address-flex-wrap
        .input-wrap
          label City
          input.city-inpt(type="text")
        .input-wrap
          label State
          input.state-inpt(type="text")
        .input-wrap
          label Zip Code
          input.zip-code-inpt(type="text")
  .seat-info-widget
    h2.widget-title Seats Information
    .seats-wrap.ga-seats
      .title-wrap
        .seat
        h3 GA Seats 
      p.no-seats No GA Seats
      .inputs-wrap
    .divider
    .seats-wrap.vip-seats
      .title-wrap
        .seat
          .icon
        h3 VIP Seats
      p.no-seats No VIP Seats
      .inputs-wrap
.update-info-widget
  .send-email-wrap.hidden
    .checkbox
      .icon
    p Send an email to customer with updates
  button.update-info-btn.disabled Update Information
  p.warning WARNING: This will update the order with any changes made to the information above
.basic-info-widget
  .content
    .text-wrap.order-id-wrap
      h1 
      p Order Code
    .text-wrap.purchase-time-wrap
      h1 
      p Time of Purchase
.flex-wrap.checkout-flex-wrap
  .cart-info-widget
    h2.widget-title Cart Information
    .seats-wrap
    .total-wrap
      .charges
        .flex-wrap.subtotal-wrap
          p.title Subtotal
          p.charge
        .flex-wrap.fees-wrap
          p.title Fees
          p.charge 
        h2.total-price
  .notes-info-widget
    .note-status-loader
    p.note-status-updated Saved
    h2.widget-title Order Note
    textarea.note(placeholder="No Notes" data-gramm_editor="false")
.shipping-status-widget
  .content
    h2.widget-title Shipping Status
    .shipping-add-tracking-number-wrap.shipping-status-info-wrap
      p.widget-desc Add the UPS tracking number of this order's tickets.
      .insert-tracking-number-wrap
        input.tracking-number-inpt(placeholder="UPS Tracking Number")
        button.confirm-tracking-number.disabled Confirm
      button.deactivate-shipping-btn Deactivate Shipping for This Order
      p.deactivate-shipping-details Double click deactive button to deactivate shipping. <b>Note:</b> This will notify the customer.
    .shipping-deactivated-wrap.shipping-status-info-wrap
      p.widget-desc Shipping is currently disabled for this order.
      button.activate-shipping-btn Activate Shipping for This Order
      p.activate-shipping-details Double click deactive button to deactivate shipping. <b>Note:</b> This will notify the customer.
    .shipping-on-way-wrap.shipping-status-info-wrap
      p.widget-desc Tracking Number has been enetered for this order.
      button.track-package-btn Track Tickets
