.nav-wrap
  .content-wrap
    .title-wrap
      .bar-chart-icon
      p.title Ticketing Dashboard
    .user-info
      .profile-picture
      .text-wrap
        h2.name Jackson Lawrence
        p.position Executive
    .nav-items-wrap
      .nav-item.dashboard-nav-item
        .icon(style="background-image:url('/img/dashboard/dashboard-icon.svg')")
        p Dashboard
      .nav-item.create-ticket-nav-item
        .icon(style="background-image:url('/img/dashboard/add-icon.svg')")
        p Create Ticket
      .nav-item.ticket-orders-nav-item
        .icon(style="background-image:url('/img/dashboard/purchases-icon.svg'); height: 28px; width:23px;")
        p(style="margin-top: 3.5px") Orders
      .nav-item.revenue-nav-item
        .icon(style="background-image:url('/img/dashboard/revenue-icon.svg'); height: 28px; width:23px;")
        p Revenue
