script.
	let rawOrders = "#{orders}"
	window.orders = JSON.parse(rawOrders.replace(/&quot;/g, '"'))
	
.search-wrap
	.search-bar-wrap
		.search-icon-wrap
			.icon
		input.search-bar(type="text" placeholder="Search")
	.filter-bar
		.filter-option.today-filter
			p Today
		.filter-option.week-filter
			p Week
		.filter-option.month-filter
			p Month
		.filter-option.all-filter.active
			p All

.orders-table
	table
		thead
			tr
				th.order-id-head Order ID
				th.customer-name-head Customer Name
				th.customer-email-head Customer Email
				th.date-head Date
				th.price-head Price
				th.seats-head Seats
				th.action-head Action
		
		tbody
	h2.no-orders No Orders
				
