doctype html
html
  head
    title Ticket Master
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/ticket-master.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    .tickets
      .ticketGA
        .badge
        h2.price $50
        p.desc Number of Tickets
        input.ticket-count.ga-ticket-inpt(type="number" placeholder="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57")
        p.left 270 left
      .ticketVIP
        .badge
        h2.price $70
        p.desc Number of Tickets
        input.ticket-count.vip-ticket-inpt(type="number" placeholder="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57")
        p.left 90 left
        
    .purchase-wrap
      p.total No Tickets Selected
      .next-step.disabled
        p Continue
        .arrow
    script(src="/js/ticket-master.js")
