.dashboard-lower-content
  margin 40px 0 0

.flex-wrap-seat-data
  width 100%
  height fit-content
  display flex
  justify-content space-between
  .ga-seats-sold-widget
    margin-right 10px
  .vip-seats-sold-widget,
  .ga-seats-sold-widget
    width 340px
    height 390px
    background #161a1d
    border-radius .3em
    padding-top 10px
    .widget-title
      color lightgrey
      font-weight 800
      text-transform uppercase
      margin 20px 0 0 15px
      font-size 13px
      letter-spacing 0.6px
    .gauge
      width 220px
      z-index 20
      margin 30px auto
      display block
      height 220px
      .g2
        stroke-dasharray: 628.318530718 628.318530718
        stroke-dashoffset 628.318530718
        transform rotate(-90deg)
        transform-origin 50% 50%
        transition stroke-dashoffset 0.5s;
      .marker
        transform-origin: 50% 50%;
        transform: rotate(0deg);
        transition: transform 0.5s
    .info-wrap
      display flex
      width fit-content
      margin 20px auto 0
      height fit-content
      justify-content space-between
      .text-wrap
        width fit-content
        height fit-content
        text-align center
        margin 0 40px
        label
          color grey
          font-size 12px
          margin 0 0 5px
        p
          color white
          font-weight 800
          margin 0
          font-size 25px
  .info-widgets
    height 400px
    width calc(100% - 690px - 10px)
    display flex
    justify-content left
    flex-flow wrap row
    margin-left 10px
    .ga-revenue-widget
      margin-right 10px
      margin-bottom 10px
    .number-of-orders-widget
      margin-right 10px
    .info-widget
      height calc(50% - 5px)
      width calc(50% - 5px)
      background #161a1d
      border-radius .3em
      position relative
      .text-wrap
        position absolute
        top 50%
        text-align center
        width 100%
        transform translateY(-50%)
        h2.info
          color white
          font-size 40px
          margin 0 0 5px
        p.desc
          color grey
          font-size 12px
          margin 0

.recent-orders
  width 100%
  height fit-content
  background #161a1d
  border-radius .3em
  padding 20px 0
  margin-top 10px
  .widget-title
    color lightgrey
    margin 0 0 0 30px
  .table-wrap
    width calc(100% - 60px)
    margin 20px auto 0
    table
      width 100%
      margin 0 !important
      border-collapse: collapse
      thead
        border-color rgb(128, 128, 128)
        box-sizing border-box
        tr
          width 100%
          padding 0
          box-sizing border-box
          border 0
          th
            text-align left
            padding 13px
            background #1D2429
            color white
            font-size 14px
            font-weight 500
    tbody
      margin 0
      height 47px
      tr
        width 100%
        vertical-align middle
        td
          height 20px !important
          padding 13px
          p
            margin 0
            color grey
            &.customer-info
              color lightgrey
          .pill-flex-wrap
            display flex
            flex-flow row wrap
            justify-content left
            .pill
              color #ff2727
              font-weight 800
              background rgba(241,85,108,.2)
              padding 4px 12px
              font-size 11px
              margin 4px
              border-radius .3em
          .action-btn
            width 40px
            height 40px
            border-radius .3em
            position relative
            cursor pointer
            background rgba(255,255,255,0.06)
            transition background .3s
            &:hover
              background rgba(255,255,255,0.03)
            .icon
              background-image url('/img/dashboard/eye-icon.svg')
              opacity 0.6
              background-size cover
              background-repeat no-repeat
              background-position center
              width 20px
              height 20px
              position absolute
              top calc(50% + 3px)
              left 50%
              transform translate(-50%, -50%)

.seat-prices-widget
  width 500px
  height fit-content
  background #161a1d
  border-radius .3em
  padding 20px 0
  margin-top 10px
  .widget-title
    color lightgrey
    text-align center
    margin 0
  p.widget-overview
    color grey
    font-size 13px
    margin 5px 0 40px 0
    text-align center
  .price-wrap
    margin 0 auto 35px
    text-align center
    p.desc
      color grey
      font-size 13px
      margin 0 0 10px
      font-weight 600
    .input-wrap
      display flex
      justify-content center
      button.minus-btn,
      button.add-btn
        padding 0 10px
        color white
        font-size 20px
        background rgba(255,255,255,0.03)
        cursor pointer
        outline none
        height 39px
        width 50px
        border 1px solid #23242b
        transition background .3s
        &:hover
          background rgba(255,255,255,0.06)
      button.minus-btn
        border-top-left-radius .3em
        border-bottom-left-radius .3em
        border-right none
      button.add-btn
        border-top-right-radius .3em
        border-bottom-right-radius .3em
        border-left none
      input.price-inpt
        height 35px
        width 200px
        text-align center
        color white
        font-size 17px
        background rgba(0,0,0,0.1)
        border 1px solid #23242b
        border-left none
        border-right none
  button.update-prices
    background red
    margin 0 auto 10px
    color white
    border none
    outline none
    cursor pointer
    padding 7px 25px
    letter-spacing 0.3px
    font-size 14px
    display block
    font-weight 800
    border-radius .3em
    transition background .3s
    &:hover
      background #de0f00
