@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');

body
  margin 0
  background #283138
  font-family 'Muli', sans-serif !important

input,
button
  outline none !important

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  margin 0
