doctype html
html
  head
    title Order Complete
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/order-complete.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    .content
      .checkmark-wrap
        .icon
      h1.title  Order Complete!
      p.info Your order has been processed successfully. <b style="color: white;">Information regarding your order has been sent to you via email.</b> See you at our TEDx Event!
    p.support-link If you have any questions, feel free to email us at <a href="mailto:support@tedxdesigntech.com">support@tedxdesigntech.com</a>
    script(src="/js/order-complete.js")
