doctype html
html
  head
    title Order Processing
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/order-processing.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    .content
      .loader-wrap
        .icon
      h1.title Order Processing
      p.info Your order is currently processing. If it takes more than a minute, please contact us at <a href="mailto:support@tedxdesigntech.com">support@tedxdesigntech.com</a>
    script(src="/js/order-processing.js")
