doctype html
html
  head
    title Checkout
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/seat-checkout.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
      var rawSeatData = "#{seatData}"
      const rawSeatPrices = "#{seatPrices}"
      window.seatPrices = JSON.parse(rawSeatPrices.replace(/&quot;/g, '"'))
      window.seatData = JSON.parse(rawSeatData.replace(/&quot;/g, '"'))
  body
    .top
      button.go-back-btn Go Back
      h1.page-title Checkout
    .content
      .your-cart-info
        h2.section-title Your Cart
        .seats-wrap
        .total-wrap
          .charges
            .flex-wrap.subtotal-wrap
              p.title Subtotal
              p.charge $100
            .flex-wrap.fees-wrap
              p.title Fees
              p.charge $11.41
            h2.total-price $111.41
        .payment
          button.purchase-btn Purchase
          p.terms-and-conditions By clicking this button you agree to the <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
        
        
              
    
    script(src="/js/seat-checkout.js")
