.top-tag-wrap
  background #161A1D
  position relative
  min-height 40px
  overflow hidden
  z-index 100
  width 100%
  transition height .3s
  border-bottom 1px solid #32333e
  p.tag-text
    margin 0
    color white
    font-size 15px
    font-weight bold
    position absolute
    top 50%
    width fit-content
    left 50%
    text-align center
    transform translate(-50%, -50%)
  .close
    background-image url('/img/close.svg')
    background-size cover
    background-position center
    background-repeat no-repeat
    position absolute
    cursor pointer
    top calc(50% + 1px)
    right 20px
    height 18px
    width 18px
    transform translateY(-50%)


.go-back-btn,
.cancel-btn
  top 60px !important

.module1
  @import 'seat-selection.styl'
  .top
    .cancel-btn
      position absolute
      top 20px
      left 20px
      background red
      border none
      color white
      padding 7px 20px
      cursor pointer
      font-weight 700
      font-size 15px
      border-radius .3em
      transition background .3s
      &:hover
        background #de0000
    .top-desc
      color grey
      margin 10px 0 0
      text-align center
      font-size 14px
  .outer-seat-wrap
    margin-top 5px !important
  .next-step
    width 180px
    margin 40px auto
    cursor pointer
    height 30px
    border-radius 200px
    background red
    position relative
    &.disabled
      background #717171 !important
      cursor not-allowed !important
      p
        color #dadada !important
      .arrow
        opacity 0 !important
    &:hover
      .arrow
        right 10px
        opacity 1
    p
      color white
      position absolute
      margin 0
      font-size 15px
      font-weight 800
      letter-spacing 0.5px
      top 50%
      left 50%
      transform translate(-50%, -50%)
    .arrow
      background-image url('/img/right-arrow.svg')
      background-size cover
      background-position center
      height 23px
      width 22px
      opacity 0
      position absolute
      top calc(50% + 2.5px)
      right 20px
      transform translateY(-50%)
      transition right .3s, opacity .3s

.module2
  @import 'customer-information.styl'


.module3
  @import 'seat-information.styl'
  .finish-order-btn
    width 180px
    margin 30px auto 0
    display block
    cursor pointer
    height 30px
    border-radius 200px
    background red
    position relative
    color white
    border none
    font-size 15px
    font-weight 800
    letter-spacing 0.5px
    transition background .3s
    &:hover
      background #b50000
    &.disabled
      background #717171 !important
      cursor not-allowed !important

.order-complete-page
  @import 'order-complete.styl'
  .notify-redirect
    position absolute
    left 50%
    transform translateX(-50%)
    bottom 20px
    width fit-content
    color lightgrey
    font-size 16px
    span
      color #ff4220
      font-size 18px
      font-weight 600

.module1,
.module2,
.module3,
.order-complete-page
  &.hidden
    display none
