.search-wrap
  margin 30px auto 0
  width fit-content
  height fit-content
  position relative
  display flex
  .search-bar-wrap
    position relative
    margin 0 10px 0
    display flex
    justify-content center
    .search-icon-wrap
      border-top-left-radius 1000000px
      border-bottom-left-radius 1000000px
      width 50px
      height 45px
      position relative
      background #161a1d
      border 1px solid #32333e
      border-right none
      .icon
        position absolute
        width 20px
        height 23px
        background-image url('/img/dashboard/search-icon.svg')
        background-size cover
        background-position center
        background-repeat no-repeat
        top calc(50% + 3px)
        left calc(50% + 1px)
        opacity 0.7
        transform translate(-50%, -50%)
    .search-bar
      background #161a1d
      padding 0
      border 1px solid #32333e
      border-left none
      border-top-right-radius 1000000px
      border-bottom-right-radius 1000000px
      width 450px
      color white
      height 45px
      font-size 16px
      margin 0

  .filter-bar
    display flex
    margin 0 10px
    .filter-option
      border 1px solid #32333e
      height 45px
      width 125px
      position relative
      background #161a1d
      cursor pointer
      transition background .3s
      &:hover
        background #242b2f
      &.today-filter
        border-top-left-radius 1000000px
        border-bottom-left-radius 1000000px
        border-right none
      &.all-filter
        border-top-right-radius 1000000px
        border-bottom-right-radius 1000000px
        border-left none
      &.month-filter
        border-left none
      &.active
        background #242b2f
      p
        margin 0
        color white
        text-align center
        position absolute
        font-size 14px
        top 50%
        left 50%
        transform translate(-50%, -50%)

h2.no-orders
  color grey
  text-align center
  margin 50px 0 20px
  font-weight 400
  display none
.orders-table
  width calc(100% - 60px)
  margin 75px auto 0
  table
    width 100%
    margin 0 !important
    border-collapse: collapse
    overflow-x auto
    min-width 1000px
    thead
      border-color rgb(128, 128, 128)
      box-sizing border-box
      tr
        width 100%
        padding 0
        box-sizing border-box
        border 0
        th
          text-align left
          padding 13px
          background #2a3135
          color white
          font-size 14px
          font-weight 500
  tbody
    margin 0
    height 47px
    tr.order
      width 100%
      vertical-align middle
      &.hidden
        display none
      td
        height 20px !important
        padding 13px
        p
          margin 0
          color #9e9e9e
          &.order-id-info
            color lightgrey
        .pill-flex-wrap
          display flex
          flex-flow row wrap
          justify-content left
          .pill
            color #f1556c
            font-weight 800
            background rgba(241,85,108,.2)
            padding 4px 12px
            font-size 11px
            margin 4px
            border-radius .3em
        .action-btn
          width 40px
          height 40px
          border-radius .3em
          position relative
          cursor pointer
          background rgba(255,255,255,0.06)
          transition background .3s
          &:hover
            background rgba(255,255,255,0.03)
          .icon
            background-image url('/img/dashboard/edit-icon.svg')
            opacity 0.6
            background-size cover
            background-repeat no-repeat
            background-position center
            width 20px
            height 25px
            position absolute
            top calc(50% + 2px)
            left 50%
            transform translate(-50%, -50%)

@media only screen and (max-width 1425px)
  .search-wrap
    flex-flow column
    .search-bar-wrap
      margin-bottom 15px
