.content
  position absolute
  top calc(50% - 50px)
  left 50%
  transform translate(-50%, -50%)
  width fit-content
  height fit-content
  text-align center
  .checkmark-wrap
    width 300px
    height 300px
    border-radius 200px
    position relative
    margin 0 auto
    background rgba(255,255,255,0.03)
    border 3px solid rgba(255,255,255,0.02)
    .icon
      background-image url('/img/checkmark.svg')
      background-size cover
      background-position center
      background-repeat no-repeat
      width 200px
      height 225px
      position absolute
      top calc(50% + 30px)
      left 50%
      transform translate(-50%, -50%)
  .title
    color white
    margin 20px 0 0
    font-size 45px
  .subtitle
    color #949494
    margin 10px 0 0
    font-size 25px
    font-weight 400
    span
      font-weight 700
      color lightgrey
  .info
    color grey
    font-size 14px
    line-height 125%
    letter-spacing 0.5px
    margin 20px auto 0
    width 500px

.support-link
  position absolute
  left 50%
  transform translateX(-50%)
  bottom 20px
  width fit-content
  color lightgrey
  a
    color #ff4220
    font-weight 600
    text-decoration none
    &:hover
      text-decoration underline
