.form-content
  position relative
  margin 0 auto
  width 100%
  p.form-info
    text-align center
    max-width 400px
    font-size 14px
    color grey
    margin 0 auto 20px
  .tickets-wrap
    margin 0 auto 20px
    width 500px
    height fit-content
    padding 20px 0
    position relative
    background #161a1d
    border-radius .3em
    box-shadow 0 5px 12px 5px rgba(0,0,0,0.1)
    border 1px solid #32333e
    .title-wrap
      display flex
      justify-content center
      width fit-content
      height fit-content
      margin 0 auto 20px
      .seat
        width 30px
        height 30px
        border-radius .2em
        position relative
        background red
        margin-right 10px
        .icon
          width 15px
          height 15px
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          background-image url('/img/star.svg')
          background-size cover
          background-position top
          background-repeat no-repeat
      .section-title
        color lightgrey
        font-size 20px
        margin 2.5px 0 0
    p.no-tickets
      color grey
      text-align center
      margin 25px 0 10px
      display none
    .inputs-wrap
      width 95%
      margin 30px auto 0
      .seat-input-wrap
        display flex
        justify-content center
        width 100%
        position relative
        margin-bottom 20px
        .seat-number-wrap
          width 75px
          position relative
          background rgba(255,255,255,0.01)
          height 45px
          border 1px solid #23242b
          border-right none
          border-top-left-radius .3em
          border-bottom-left-radius .3em
          .seat-number
            color white
            font-weight 900
            position absolute
            margin 0
            top 50%
            left 50%
            transform translate(-50%, -50%)
        .seat-name-inpt
          background rgba(0,0,0,0.1)
          padding 0 10px
          height 45px
          width calc(100% - 75px - 20px)
          border-top-right-radius .3em
          border-bottom-right-radius .3em
          border none
          outline none
          color white
          font-size 16px
          border 1px solid #23242b
          border-left none
  .next-step
    width 200px
    margin 30px auto 30px
    cursor pointer
    height 35px
    border-radius 200px
    background red
    position relative
    &.disabled
      background #717171 !important
      cursor not-allowed !important
      p
        color #dadada !important
      .arrow
        opacity 0 !important
    &:hover
      .arrow
        right 10px
        opacity 1
    p
      color white
      position absolute
      margin 0
      font-size 16px
      font-weight 800
      letter-spacing 0.5px
      top 50%
      left 50%
      transform translate(-50%, -50%)
    .arrow
      background-image url('/img/right-arrow.svg')
      background-size cover
      background-position center
      height 23px
      width 22px
      opacity 0
      position absolute
      top calc(50% + 2.5px)
      right 20px
      transform translateY(-50%)
      transition right .3s, opacity .3s

@media only screen and (max-width 565px)
  .form-content
    p.form-info
      max-width 350px !important
    .tickets-wrap
      width 90%
